.bestseller {
  background: radial-gradient(circle at 30% 75%, #e34346, #a4161b, #a4161b 200% );
}

.bestseller__slider {
  position: relative;
  height: 500px;
  padding-bottom: 100px;
}

.bestseller__slider-body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slider__dots {
  position: absolute;
  width: 1100px;
  margin: auto;
  text-align: center;
  bottom: 50px;
}

.slider__dot {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 5px;

  &:before {
    top: 0;
    left: 0;
    content: '\2022';
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    opacity: 1;
    line-height: 14px;
    font-size: 32px;
  }

  &:hover {
    &:before {
      color: rgba(252, 162, 17, 0.6);
    }
  }
}


.slider__dot--active {

  &:before {
    color: #fca211;
  }

  &:hover {
    &:before {
      color: #fca211;
    }
  }
}

.bestseller__slider-left, .bestseller__slider-right {
  display: table;
  text-align: center;
  position: absolute;
  color: rgba(white, 0.0);
  font-size: 70px;
  width: 100px;
  height: 500px;
  line-height: 500px;
  cursor: pointer;
  transition: 1s;
}

.bestseller__slider:hover {
  .bestseller__slider-left,
  .bestseller__slider-right {
    color: rgba(white, 0.3);
  }
}

.bestseller__slider-left {
  left: -100px;
}

.bestseller__slider-right {
  right: -100px;
}

.bestseller__slider-main {
  left: 100%;
  position: absolute;
  height: 500px;
  width: 1100px;
}

.bestseller__slider_img {
  position: absolute;
  left: 17%;
  z-index: 2;
  height: 475px;
}

.bestseller__big_text {
  position: absolute;
  font-family: ALSMalina, serif;
  color:  rgba(#fff, .1);
  font-size: 150px;
  z-index: 1;

  margin-top: 150px;
  margin-left: 20px;
}

.bestseller__info {
  float: right;
  width: 410px;
  color:  #fff;
  margin-top: 35px;
}
// LEFT
.bestseller__left_items {
  display: inline-block;
}

.bestseller__ingredients {
  display: inline-block;
  margin-top: 85px;
  margin-left: 20px;
  text-align: center;
}

.ingredients__icon {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 auto 15px;
  border-radius: 50%;
  position: relative;
  background: rgba(255, 255, 255, .1) url("../img/slider/ingredients-sprite.png") -1px -159px;

  &:hover {
    background: rgb(255, 175, 40) url("../img/slider/ingredients-sprite.png") -1px -159px;

    .ingredients__dropdoun-list {
      display: block;
    }
  }
}

.ingredients__dropdoun-list {
  display: none;
  width: 380px;
  background-color: rgba(255,255,255,.92);
  position: absolute;
  left: 92px;
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
  padding: 30px;
  text-align: left;
  color: #575757;
  border-radius: 20px;
  z-index: 2;

  &:before {
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 55px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    border: 13px solid transparent;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-right-color: rgba(255,255,255,.92);
    right: 100%;
    top: 31%;
  }

}

.ingredients__dropdoun-item {
  padding: 5px 0;

  .ingredient__icon {
    background-image: url("../img/slider/ingredients-sprite.png");
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 28px;
    color: #393939;
  }

  .ingredient__icon_flour {
    background-position: -7px -80px;
  }

  .ingredient__icon_eggs {
    background-position: -8px -40px;
  }

  .ingredient__icon_sugar {
    background-position: -8px -241px;
  }

  .ingredient__icon_butter {
    background-position: -9px -2px;
  }

  .ingredient__icon_susu {
    background-position: -9px -121px;
  }
}

.ingredient {
  display: inline-block;
  width: 63%;
}


.bestseller__ingredients_text {
  color: white;
  font-size: 15px;
  margin-top: -5px;
}

.bestseller__time {
  margin-top: 200px;
  margin-left: 5px;
  color: white;
}

.bestseller__time_title {
  color: rgba(#fff, 0.28);
  font-size: 13px;
  letter-spacing: 1.3px;
  text-align: center;
}

.bestseller__time_clock {
  font-family: ALSMalina, serif;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 0 5px;
  line-height: 18px;
}

// RIGHT
.bestseller__title {
  font-family: ALSMalina, serif;
  font-size: 62px;
  line-height: 75px;
  margin-bottom: 25px;
}

.bestseller__text {
  font-family: Arial, serif;
  font-size: 15px;
  margin-bottom: 30px;
}

.bestseller__price {
  display: inline-block;
  font-family: ALSMalina, serif;
  font-size: 62px;
  line-height: 52px;
}

.bestseller__order {
  display: inline-block;
  float: right;
  background: #fca211;
  color: #a4141c;
  margin-right: 100px;
  margin-top: 12px;
  padding: 10px 20px;
  border-radius: 20px;
  @include transition(0.3s);

  &:hover {
    background-color: #641a00;
    color: #fca211;
    cursor: pointer;
  }

  &:active {
    margin-top: 13px;
  }
}
