.footer {
  font-family: Arial, serif;
  font-size: 14px;
  color: #8d8d8d;
  height: 70px;
  margin-top: 30px;
}

.footer__logo {
  float: left;
  width: 25%;
  font-size: 30px;

}

.logo__img--footer {
  height: 50px;
}

.footer__copyright {
  float: left;
  width: 21%;
  line-height: 56px;
}

.footer__address {
  float: left;
  width: 28%;
  line-height: 56px;
}

.footer__social {
  float: right;
  width: 25%;
}

.socials {
  display: inline-block;
  line-height: 65px;
  margin-left: 8px;
}

.socials__link {
  background: url("../img/footer-sprite.png") no-repeat;
  display: block;
  width: 28px;
  height: 28px;
}

.socials__item {
  display: inline-block;
  margin-left: 22px;
}

.socials__link_fb {
  background-position: -2px -50px;

  &:hover {
    background-position: -2px -8px;
  }
}

.socials__link_inst {
  background-position: -7px -133px;

  &:hover {
    background-position: -7px -91px;
  }
}

.socials__link_ok {
  background-position: -3px -218px;

  &:hover {
    background-position: -3px -176px;
  }
}

.socials__link_tw {
  background-position: -8px -295px;

  &:hover {
    background-position: -8px -257px;
  }
}

.socials__link_vk {
  background-position: -8px -364px;

  &:hover {
    background-position: -8px -330px;
  }
}