.header {
  @extend %clearfix;
  height: 66px;
  padding: 25px 0;
  margin-bottom: 47px;
}

.logo {
  float: left;
  width: 25%;
  padding-right: 8%;
  margin-left: 20px;

  font-size: 36px;
}

.logo__link {
  display: block;
  text-decoration: none;
}

.logo__img {
  display: inline-block;
  vertical-align: middle;
}

.logo__text {
  font-family: ALSMalina, serif;
  display: inline-block;
  color: #fca211;
  vertical-align: middle;
}

.menu {
  @extend %clearfix;
  float: left;
  width: 50%;
  height: 66px;
}

.menu__main {
  font-size: 16px;
  letter-spacing: 1.6px;
  text-align: justify;

  padding-top: 25px;

  &:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 0;
    visibility: hidden;
  }
}

.menu__item {
  display: inline;
  position: relative;
  color: white;
  padding: 1%;

  &:hover {
    color: #fca211;
    cursor: pointer;

    .menu__link {
      color: #fca211;
    }

    .menu__dropdown {
      //display: inline-block;
      opacity: 1;
      left: 50%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 130px;
    top: 82%;
    left: 47%;
    margin-left: -60px;
    z-index: 2;
  }

}

.menu__link--single:hover {
  color: #fca211;
  cursor: pointer;
}


.menu__link, .menu__link--single {
  text-decoration: none;
  color: white;
}

.menu__item .menu__link:after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 4px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -25px;
  margin-bottom: 3px;
}

.menu__item:hover .menu__link:after {
  content: "";
  border-left: 1px solid #ffaf28;
  border-top: 1px solid #ffaf28;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0;
}
//Всплывашка

.menu__dropdown {
  position: absolute;
  background: rgba(white, 0.9);
  border-radius: 10px;
  z-index: 1000;
  left: -9999px;
  transform: translateX(-50%);
  margin-top: 20px;
  opacity: 0;
  cursor: pointer;
  padding: 25px;

  // Треугольник
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -20px;
    top: -20px;
    border: 10px solid;
    border-left-width: 20px;
    border-right-width: 20px;
    border-color: transparent transparent rgba(white, 0.9) transparent;
  }

  &:before {
    content: "";
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 100%;
  }

  &:hover {
    opacity: 1;
    left: 50%;
  }
}

.menu__dropdown-item {
  display: block;
  position: relative;
  text-align: left;
  padding: 10px;
  white-space: nowrap;

  &:hover {
    .menu__dropdown-link {
      color: #303030;
      font-weight: bold;
      padding-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: -25px;
      top: 33%;
      border: 10px solid;
      border-color: transparent transparent transparent #fca211;
    }
  }
}

.menu__dropdown-link {
  display: inline-block;
  text-decoration: none;
  word-wrap: normal;
  padding-left: 5px;
  font-size: 16px;
  color: #575757;
  padding-right: 15px;
}

.header__buttons {
  display: inline;
  float: right;
  text-align: center;
  color: white;
  width: 13%;
  padding-top: 15px;
}

.round-btn {
  display: inline-block;
  margin: 0 10px;


}

.icons__link {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: rgba(173, 46, 51, 1) url("../img/header/header-sprite.png") no-repeat;

  &:hover {
    background: rgb(255, 175, 40) url("../img/header/header-sprite.png") no-repeat;
  }
}

.icons__link--person {
  background-position: 0 0;

  &:hover {
    background-position: 0 0;
  }
}

.icons__link--search {
  background-position: 0 -40px;

  &:hover {
    background-position: 0 -40px;
  }
}
