.questions {
  background: url("../img/questions/back_questions.jpg") no-repeat;
  background-size: cover;

}
.questions__title {
  font-family: ALSMalina, serif;
  text-align: center;
  font-size: 40px;
  color: white;

  padding-top: 80px;
  padding-bottom: 65px;
}

.acco {
  width: 960px;
  min-height: 470px;
  margin: auto;
  padding-bottom: 100px;
}

.acco__item {
  font-size: 22px;
  color: white;
  list-style: inherit;
  margin-bottom: 25px;

  &:last-child {
    border-bottom: none;
  }
}

.acco__trigger {
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  color: white;
  border-bottom: 2px dashed #fff;
}

.acco__content {
  display: none;
  font-family: Arial, serif;
  font-size: 15px;
  color: white;
  list-style: disc inside;
  padding: 0px 10px 40px 45px;
}

.acco__content-item {
  margin-bottom: 5px;
}

.acco__item--active {
  color: #ffb100;

  .acco__trigger {
    color: #ffb100;
    border-bottom: 0;
  }
}