.header {
  @extend %clearfix;
  height: 66px;
  padding: 25px 0;
  margin-bottom: 47px;
}

.logo {
  float: left;
  width: 25%;
  padding-right: 8%;
  margin-left: 20px;
}

.menu {
  @extend %clearfix;
  float: left;
  width: 50%;
  height: 66px;
}

.menu__main {
  font-family: Arial, serif;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-align: justify;

  padding-top: 25px;

  &:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 0;
    visibility: hidden;
  }
}

.header__buttons {
  display: inline;
  float: right;
  text-align: center;
  color: white;
  width: 13%;
  padding-top: 15px;
}

.round_btn {
  display: inline-block;
  margin: 0 10px;
}

.icons__link {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: rgba(173, 46, 51, 1) url("../img/header/header-sprite.png") no-repeat;

  &:hover {
    background: rgb(255, 175, 40) url("../img/header/header-sprite.png") no-repeat;
  }
}

.icons__link_person {
  background-position: 0 0;

  &:hover {
    background-position: 0 0;
  }
}

.icons__link_search {
  background-position: 0 -40px;

  &:hover {
    background-position: 0 -40px;
  }
}


.menu__item {
  display: inline;
  position: relative;
  color: white;
  margin-left: 25px;

  &:hover {
    color: #fca211;
    cursor: pointer;

    .menu__item_link {
      color: #fca211;
    }

    .contacts__dropdown {
      //display: inline-block;
      opacity: 1;
      left: 50%;
    }
  }

}

.menu__item_link {
  text-decoration: none;
  color: white;
  padding-bottom: 23px;
}

.menu__item .menu__item_link:after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 4px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -20px;
  margin-bottom: 3px;
}

.menu__item:hover .menu__item_link:after {
  content: "";
  border-left: 1px solid #ffaf28;
  border-top: 1px solid #ffaf28;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0;
}

//Всплывашка

.contacts__dropdown {
  position: absolute;
  background: rgba(white, 0.9);
  border-radius: 10px;
  z-index: 1000;
  left: -9999px;
  transform: translateX(-50%);
  margin-top: 20px;
  opacity: 0;
  cursor: pointer;
  padding: 25px;

  // Треугольник
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -20px;
    top: -20px;
    border: 10px solid;
    border-left-width: 20px;
    border-right-width: 20px;
    border-color: transparent transparent rgba(white, 0.9) transparent;
  }

  &:hover {
    opacity: 1;
    left: 50%;
  }
}

.contacts__dropdown-item {
  display: block;
  position: relative;
  text-align: left;
  padding: 10px;
  white-space: nowrap;

  &:hover {
    .contacts__dropdown-text {
      color: #0483d9;
      font-weight: bold;
      padding-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: -25px;
      top: 33%;
      border: 10px solid;
      border-color: transparent transparent transparent #fca211;
    }
  }


}

.contacts__dropdown-text {
  display: inline-block;
  text-decoration: none;
  word-wrap: normal;
  padding-left: 5px;
  font-family: Arial, serif;
  font-size: 16px;
  color: #000;
  padding-right: 15px;
}